	ul.pagination li.details{
	   color:#fc9700;
	
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #fff;
		background:#fc9700;
		background:-moz-linear-gradient(top,#fc9700,#fc9700);
		background:-webkit-gradient(#fc9700);	
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#fc9700;
		background:#E7F2C7;
	}